/* 스타일 */
/* 기본 스타일 */
body {
    background-image: url('image/background.png');
    background-size: 720px 1280px;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 화면 크기가 720px 이하일 때 모바일 스타일 적용 */
@media screen and (max-width: 720px) {
    body {
        background-size: cover;  /* 화면 크기에 맞게 배경 이미지 크기 조정 */
        height: auto;  /* 화면 크기에 맞게 높이 조정 */
    }

    canvas {
        width: 100%;  /* 캔버스를 화면 크기에 맞게 조정 */
        height: auto;
    }
}
